.dropdown-content {
    display: none;
}


.container-fluid{
    width: 95%; 
    margin-right: auto;
    margin-left: auto;
}

.row{
    width: 85%;    
    border: 2px solid grey;
    border-radius: 7px;
    padding: 10px;
    margin: 10px;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}


h1{
    width: 83%;     
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;  
    font-size: 18px;
 
}

nav{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2%;
}

h2{
    font-size: 20px;
    padding: 0px;
    margin: 0.5%;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
    padding: 8px;
}

button, input{
    font-size: 20px !important;
    cursor: pointer !important;
    text-align: center !important;
    border: 1px solid rgb(176, 176, 176) !important;
    background-color: rgb(255, 255, 255) !important;
    outline: none !important;
    margin: 0px !important;
    border-radius: 30px !important;
    color: rgb(34, 34, 34) !important;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
    position: relative !important;
    padding: 8px 16px !important;
    font-size: 12px !important;
    line-height: 16px !important;
}


nav select {
    display: none;
}


input{
font-size: 20px;
}

.categories, .filterButtons{
    margin: 1%;
}

ul{
    font-size: 14px !important;
}


/* CSS for smaller screens */
@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
  }


@media (max-width: 960px) {
    nav ul     { display: none; }
    nav select { display: inline-block; }
  }
